<!-- Código para o campo de busca que já apresenta os resultados dos veículos automaticamente
  e apresenta a opção de "consultar" valor a partir de input passado pelo usuário -->


<div class="container">
    <div class="row">

        <div class="col">
            <label for="type">Tipo de Veículo</label>
            <select name="types" placeholder="Tipos" class="form-select" id="types" aria-label="Seleção Tipos"
                [(ngModel)]="type" (ngModelChange)="getMarcas()">
                <option [ngValue]="null" disabled>Selecione o Tipo de Veículo</option>
                <option *ngFor="let tipo of types" [value]="tipo"> {{ tipo }}</option>
            </select>
        </div>

        <div class="col">
            <label for="marcas">Marca</label>
            <select name="marcas" class="form-select" placeholder="Marcas" id="marcas" [(ngModel)]="codigoMarca"
                (ngModelChange)="getModelos()" aria-label="Seleção Marca">
                <option [ngValue]="null" disabled>Selecione a Marca</option>
                <option *ngFor="let marca of marcas" [value]="marca.codigo">{{ marca.nome }}</option>
            </select>
        </div>

        <div class="col">
            <label for="modelo">Modelo</label>
            <select name="modelo" placeholder="Selecione o Modelo" class="form-select" id="modelo"
                aria-label="Seleção Modelo" [(ngModel)]="codigoModelo" (ngModelChange)="getAnos()">

                <option [ngValue]="null" disabled>Selecione o Modelo</option>
                <option *ngFor="let modelo of modeloVeiculos" [value]="modelo.codigo"> {{ modelo.nome}} </option>
            </select>
        </div>

        <div class="col">
            <label for="ano">Ano</label>
            <select name="ano" class="form-select" id="ano" aria-label="Seleção Ano" [(ngModel)]="codigoAno"
                (ngModelChange)="getVeiculo()">
                <option [ngValue]="null" disabled>Selecione o Ano</option>
                <option *ngFor="let ano of anos" [value]="ano.codigo"> {{ ano.codigo }} </option>
            </select>
        </div>
    </div>

    <br>

    <form class="row">

        <!-- implementar  os calculos de comparação do preço do vendedor com a tabela fipe -->
        <div class="col">
            <label for="vvf">Valor de Venda</label>

            <div class="input-group">
                <span class="input-group-text">R$</span>
                <input type="number" class="form-control" id="vvf" aria-label="Valor informado pelo usuário"
                    (keyup)="onKeyUp($event)" [ngModel]=" valorAtual| currency: 'realBRL'" />

                <!-- Adicionar onClicK() e depois botar no arquivo correspondente -->
                <button type="submit" class="btn btn-primary col-3 mx-auto ms-4" 
                (click)="onClick()" (ngModelChange)="onClick()">Consultar</button>


            </div>
        </div>
    </form>


    <br>
    <br>

    <div class="container">

        <div class="row" *ngIf="consultar" [(ngModel)]="codigoAno">

            <div class="col" *ngIf="veiculo">

                <h2>Resultados da Busca</h2>
                <br>

                <p><strong>Marca:</strong> {{ veiculo.Marca }} </p>
                <p><strong>Modelo:</strong> {{ veiculo.Modelo }} </p>
                <p><strong>Ano:</strong> {{ veiculo.AnoModelo }}</p>
                <p><strong>Combustível:</strong> {{ veiculo.Combustivel }}</p>
                <p><strong>Mês de Referência:</strong> {{ veiculo.MesReferencia }} </p>

            </div>
            <div class="col text-end" *ngIf="veiculo">

                <br>
                <p><strong>Comparativa de Preços</strong></p>


                <p><strong>Preço Tabela Fipe:</strong> {{veiculo.Valor}} </p>
                <p><strong>Preço do Veículo:</strong> {{ valorAtual | currency: 'BRL':true}}</p>


            </div>
            <div class="row text-center" *ngIf="veiculo">

                <!-- <h1> {{ resultadoPercentual | number: '1.1-2' }} %</h1> -->
                <h2 *ngIf="cor1" style="color:red" class="vermelho"> {{ comparacaoPercentual}} <br> {{
                    resultadoPercentual | number: '1.1-2' }} %</h2>
                <h2 *ngIf="cor2" style="color:green" [ngStyle]="{'text-color': 'green'}"> {{ comparacaoPercentual }}
                    <br> {{ resultadoPercentual | number: '1.1-2' }} %</h2>
                <h2 *ngIf="cor3" style="color: yellow" [ngStyle]="{'text-color': 'yellow'}"> {{ comparacaoPercentual }}
                    <br> {{ resultadoPercentual | number: '1.1-2' }} %</h2>


            </div>


        </div>

    </div>
</div>